* {
    margin: 0;
    padding: 0;
    font-family:Sans-serif;
    overflow: hidden;
}

#nav{
    position: fixed;
    top: 0;
    bottom: 0; 
    right: 0;
    width: 230px; /* Width of navigation frame */
    height: 100%;
    overflow: hidden; /* Disables scrollbars on the navigation frame. To enable scrollbars, change "hidden" to "scroll" */
    background: rgb(0, 0, 0);
    display:flex;
    align-items: center;
    justify-content: center;
}

section{
   
   width: 90%;
   height: 1000px;
   float: left;
   text-align: center;
   background-color: black;
   position: relative;

}
section a {
    text-decoration: none;
    color:gray;
    
}
section p {
    text-align: center;
    position: absolute;               
   top: 50%; 
   left:50% ;  
   margin-right: -50%;                     
   transform: translate(-50%, -50%) 
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: grey;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: lightgray;
}        



.fa-brands{
    font-size: 30px;
    color: gray
}
.fa-solid{
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.blink {
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {
    to {
      visibility: hidden;
    }
  }

.fa-terminal:before {
  content: "\f0f3";
  color: lightgray;
}

#centernav { 
    height: 100%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.vl {
    border-left: 6px solid rgb(255, 255, 255);
    height: 100%;
  }

.fa-regular {
    color: #555;
}
.footer{
    display: flex;
    position: fixed;
    margin: auto;
    bottom: 0;
    height: 2.5rem;
    width: 90%;
    justify-content:center;
    align-items:center;
    color: #555;
    
}
